.edit-text {
  width: 100%;
  padding: 16px 8px;
}

.edit-label {
  width: 100%;
  padding: 16px 8px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  display: inline-block;
  width: 90%;
}

.alert {
  margin-top: 8px;
  color: red;
}
